varlet
setuptools
psycopg2
django-cloak
pytz
git+https://github.com/PSU-OIT-ARC/django-arcutils.git#egg=django-arcutils[logging]
ldap3
-e git://github.com/PSU-OIT-ARC/djangocas.git#egg=djangocas
mock
model-mommy
coverage
flake8
