{% extends "base.html" %}

    {% block head %}
        <script>
            function goBack() {
                window.history.back();
            }
        </script>
    {% endblock %}

{% block content %}
<h2>You are performing a management action on the following item:</h2>

{% include "items/item_table.html" %}

<h3>Status log</h3>
<table class="table table-condensed table-striped">
    <tr><th>Action</th>
        <th>Timestamp</th>
        <th>Performed by</th>
        <th>Notes</th></tr>
        {% for status in status_list %}
            <td>{{ status.action_taken }}</td>
            <td>{{ status.timestamp }}</td>
            <td>{{ status.performed_by }}</td>
            <td>{{ status.note }}</td></tr>
        {% endfor %}
</table>


<form action="" method="post">
{% csrf_token %}
<table>
<tr><th>{{ form.action_choice|bootstrap }} </th></tr>
<tr><th>{{ form.note|bootstrap  }} </th></tr>
</table> 
<br><br><input type="submit" name="action" class="btn btn-default" value="Perform action">
<button onclick="goBack()" class="btn btn-default">Cancel</button>
</form>
{% endblock %}
