<html>
<body>
    <h2>Items</h2>
    <form action="" method="get">
    {% csrf_token %}
    {{ ItemFilter }}
    <input type="submit" value="Filter" />
    </form>
    <table>
        <tr><th>Select</th>
            <th>Found on</th>
            <th>Found by</th>
            <th>Location</th>
            <th>Category</th>
            <th>Description</th>
            <th>Valuable</th>
            <th>Possible owner</th>
            <th>Possible owner contacted</th>
            <th>Returned to</th>
            <th>Last action</th>
            <th>Last action performed on</th>
            <th>Last action notes</th>
            <th>Last action taken by</th></tr>
        <form action="" method="post">
        {% csrf_token %}
        {% for item in items %}
            <tr><th>ACTION VIEW<input type="radio" name="item_num" value={{ item.pk }}></th>
            <th>{{ item.found_on }}</th>
            <th>{{ item.found_by }}</th>
            <th>{{ item.location }}</th>
            <th>{{ item.category }}</th>
            <th>{{ item.description }}</th>
            <th>{{ item.is_valuable }}</th>
            <th>{{ item.possible_owner }}</th>
            <th>{{ item.possible_owner_contacted }}</th>
            <th>{{ item.returned_to }}</th>
            <th>{{ item.last_status.action_taken }}</th>
            <th>{{ item.last_status.timestamp }}</th>
            <th>{{ item.last_status.note }}</th>
            <th>{{ item.last_status.performed_by }}</th></tr>
        {% endfor %}
     </table>
        <br><input type="submit" name="action" value="View Item"><br><br>
        <input type="submit" name="action" value="Management Action">
        </form>
</body>
<html>