{% extends "base.html" %}

    {% block head %}
    <script src="{{ STATIC_URL }}js/admin-itemlist.js"></script>
    {% endblock %}


{% block content %}
    <h2>Admin Items</h2>
    <div class="form-inline" role="form">
        <form action="" method="get">
            {% csrf_token %}
            {{ item_filter.select_location|bootstrap }}
            {{ item_filter.select_category|bootstrap }}
            {{ item_filter.sort_by|bootstrap }}
            {{ item_filter.display_is_valuable_only|bootstrap }}
            {{ item_filter.display_archived_only|bootstrap }}
            {{ item_filter.search_keyword_or_name|bootstrap }}
            <input type="submit" name="action" value="Filter" />
            <input type="submit" name="action" value="Reset" />
        </form>
     </div>
    
    <form action ="" method="post">
        {% csrf_token %}
    <table class="table table-condensed table-striped">
        <tr><th>Select</th>
            <th>ID #</th>
            <th>Found on</th>
            <th>Found by</th>
            <th>Location</th>
            <th>Category</th>
            <th>Description</th>
            <th>Valuable</th>
            <th>Possible owner</th>
            <th>Possible owner contacted</th>
            <th>Returned to</th>
            <th>Last action</th>
            <th>Last action performed on</th>
            <th>Last action notes</th>
            <th>Last action taken by</th>
            <th>Archive<input type="checkbox" name="select_all" value="" id="select_all"></th></tr>
        {% for item, field in archive_form %}
            {% if item.is_valuable %}
                <tr class="danger">
            {% else %}
                <tr>
            {% endif %}
            <td><a href="{% url 'admin-action' item.pk %}">Action</a></td>
            <td>{{ item.item_id }}</td>
            <td>{{ item.found_on }}</td>
            <td>{{ item.found_by }}</td>
            <td>{{ item.location }}</td>
            <td>{{ item.category }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.is_valuable }}</td>
            <td>{{ item.possible_owner }}</td>
            <td>{{ item.possible_owner_contacted }}</td>
            <td>{{ item.returned_to }}</td>
            <td>{{ item.last_status.action_taken }}</td>
            <td>{{ item.last_status.timestamp }}</td>
            <td>{{ item.last_status.note }}</td>
            <td>{{ item.last_status.performed_by }}</td>
            <td>{{ field }}</td></tr>
        {% endfor %}
     </table>
     <input type="submit" name="action" value="Archive selected items" />
     </form>
{% endblock %}
