{% extends "base.html" %}

{% block content %}
<h2>You are performing a management action on the following item:</h2>

<table style="width:50%">
    <tr><th><h3>ID #:</h3></th><td><h4>{{ item.item_id }}</h4></td></tr>
    <tr><th><h3>Location:</h3></th><td><h4>{{ item.location }}</h4></td></tr>
    <tr><th><h3>Category:</h3></th><td><h4>{{ item.category }}</h4></td></tr>
    <tr><th><h3>Found:</h3></th><td><h4>{{ item.found_on }}</h4></td></tr>
    <tr><th><h3>Description:</h3></th><td><h4>{{ item.description }}</h4></td></tr>
    <tr><th><h3>Valuable:</h3></th><td><h4>{{ item.is_valuable }}</h4></td></tr>
    <tr><th><h3>Possible Owner:</h3></th><td><h4>{{ item.possible_owner }}</h4></td></tr>
    <tr><th><h3>Returned to:</h3></th><td><h4>{{ item.returned_to }}</h4></td></tr>
</table>

<form action="" method="post">
{% csrf_token %}
<table>
<tr><th>{{ form.action_choice|bootstrap }} </th></tr>
<tr><th>{{ form.note|bootstrap  }} </th></tr>
</table> 
<br><br><input type="submit" name="action" value="Perform action">
<input type="submit" name="action" value="Cancel">
</form>
{% endblock %}
