{% extends "base.html" %}
{% block content %}
<h2>You are returning the following item:</h2>

<table style="width:50%">
    <tr><th><h3>ID #:</h3></th><td><h4>{{ item.item_id }}</h4></td></tr>
    <tr><th><h3>Location:</h3></th><td><h4>{{ item.location }}</h4></td></tr>
    <tr><th><h3>Category:</h3></th><td><h4>{{ item.category }}</h4></td></tr>
    <tr><th><h3>Found:</h3></th><td><h4>{{ item.found_on }}</h4></td></tr>
    <tr><th><h3>Description:</h3></th><td><h4>{{ item.description }}</h4></td></tr>
    <tr><th><h3>Valuable:</h3></th><td><h4>{{ item.is_valuable }}</h4></td></tr>
    <tr><th><h3>Possible Owner:</h3></th><td><h4>{{ item.possible_owner }}</h4></td></tr>
</table>

<form action="" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>Enter the owner's name as it appears on their photo ID, as well as their email address.</legend>
        <div class="row">
            <div class="col-md-4">
                {{ form.first_name|bootstrap }}
                {{ form.last_name|bootstrap }}
                {{ form.email|bootstrap }}
                <input type="submit" name="action" class="btn btn-primary" value="Return Item">
                <button class="btn btn-default pull-right" onclick="window.history.back()">Cancel</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
