{% extends "base.html" %}

    {% block head %}
    <script>
    
    function source(query, callback){
        var url = "{% url 'users-autocomplete' %}";
        $.getJSON(url, {query: query}, function (data) {
            callback(data);
        });
    }
    </script>
    <script src="{{ STATIC_URL }}js/checkin.js"></script>
    {% endblock %}


{% block content %}
<form action="" method="post">
    {% csrf_token %}
	<table>
    <tr><th>{{ form.location.errors }}</th>
    <th>{{ form.location.label_tag }}</th>
    <th>{{ form.location }}</th></tr>
    <tr><th>{{ form.category.errors }}</th>
    <th>{{ form.category.label_tag }}</th>
    <th>{{ form.category }}</th></tr>
    <tr><th>{{ form.description.errors }}</th>
    <th>{{ form.description.label_tag }}</th>
    <th>{{ form.description }}</th></tr>
    <tr><th>{{ form.is_valuable.errors }}</th>
    <th>{{ form.is_valuable.label_tag }}</th>
    <th>{{ form.is_valuable }}</th></tr>
    <tr><th>{{ form.possible_owner_found.errors }}</th>
    <th>{{ form.possible_owner_found.label_tag }}</th>
    <th>{{ form.possible_owner_found }}</th></tr>
    <table class="PossibleOwner">
    <tr><th>{{ form.ldap_search.errors }}</th>
    <th>{{ form.ldap_search.label_tag }}</th>
    <th>{{ form.ldap_search }}</th></tr>
    <tr><th>{{ form.username.errors }}</th>
    <th>{{ form.username.label_tag }}</th>
    <th>{{ form.username }}</th></tr>
    <tr><th>{{ form.first_name.errors }}</th>
    <th>{{ form.first_name.label_tag }}</th>
    <th>{{ form.first_name }}</th></tr>
    <tr><th>{{ form.last_name.errors }}</th>
    <th>{{ form.last_name.label_tag }}</th>
    <th>{{ form.last_name }}</th></tr>
    <tr><th>{{ form.email.errors }}</th>
    <th>{{ form.email.label_tag }}</th>
    <th>{{ form.email }}</th></tr>
    <tr><th>{{ form.possible_owner_contacted.errors }}</th>
    <th>{{ form.possible_owner_contacted.label_tag }}</th>
    <th>{{ form.possible_owner_contacted }}</th></tr>
    </table>
	</table>
    <input type="submit" value="Submit" />
</form>
{% endblock %}
