<table class="table table-condensed table-striped item-table">
    <tr>
        <th>ID #:</th>
        <td>{{ item.item_id }}</td>
    </tr>
    <tr>
        <th>Location:</th>
        <td>{{ item.location }}</td>
    </tr>
    <tr>
        <th>Category:</th>
        <td>{{ item.category }}</td>
    </tr>
    <tr>
        <th>Found on:</th>
        <td>{{ item.found_on }}</td>
    </tr>
    <tr>
        <th>Description:</th>
        <td>{{ item.description }}</td>
    </tr>
    <tr>
        <th>Valuable:</th>
        <td>{{ item.is_valuable }}</td>
    </tr>
    <tr>
        <th>Possible owner:</th>
        <td>{{ item.possible_owner }}</td>
    </tr>
    <tr>
        <th>Returned to:</th>
        <td>{{ item.returned_to }}</td>
    </tr>
    {% if not exclude %}
        <tr>
            <th>Archived:</th>
            <td>{{ item.is_archived }}</td>
        </tr>
    {% endif %}
    <tr>
        <th>Status:</th>
        <td>{{ item.last_status.action_taken }}</td>
    </tr>
</table>
