<table style="width:50%">
    <tr><th><h3>ID #:</h3></th><td><h4>{{ item.item_id }}</h4></td></tr>
    <tr><th><h3>Location:</h3></th><td><h4>{{ item.location }}</h4></td></tr>
    <tr><th><h3>Category:</h3></th><td><h4>{{ item.category }}</h4></td></tr>
    <tr><th><h3>Found on:</h3></th><td><h4>{{ item.found_on }}</h4></td></tr>
    <tr><th><h3>Description:</h3></th><td><h4>{{ item.description }}</h4></td></tr>
    <tr><th><h3>Valuable:</h3></th><td><h4>{{ item.is_valuable }}</h4></td></tr>
    <tr><th><h3>Possible owner:</h3></th><td><h4>{{ item.possible_owner }}</h4></td></tr>
    <tr><th><h3>Possible owner contacted:</h3></th><td><h4>{{ item.possible_owner_contacted }}</h4></td></tr>
    <tr><th><h3>Returned to:</h3></th><td><h4>{{ item.returned_to }}</h4></td></tr>
    <tr><th><h3>Archived:</h3></th><td><h4>{{ item.is_archived }}</h4></td></tr>
    <tr><th><h3>Status:</h3></th><td><h4>{{ item.last_status.action_taken }}</h4></td></tr>
</table>