{% extends "base.html" %}


{% block content %}
    <h2>Items</h2>
    <form action="" method="get">
    {% csrf_token %}
    {{ ItemFilter }}
    <input type="submit" name="action" value="Filter" />
    <input type="submit" name="action" value="Reset" />
    </form>
    <table class="table table-condensed table-striped">
        <thead><tr><th>Select</th>
            <th>Location</th>
            <th>Category</th>
            <th>Description</th>
            <th>Possible owner</th>
            <th>Possible owner contacted</th>
            <th>Status</th></tr></thead>
        {% for item in items %}
            {% if item.is_valuable %}
                <tr class="danger">
            {% else %}
                <tr>
            {% endif %}
            
            <th><a href="{% url 'checkout' item.pk %}">Return</a></th>
            <th>{{ item.location }}</th>
            <th>{{ item.category }}</th>
            <th>{{ item.description }}</th>
            <th>{{ item.possible_owner }}</th>
            <th>{{ item.possible_owner_contacted }}</th>
            <th>{{ item.last_status.action_taken }}</th></tr>
        {% endfor %}
     </table>
{% endblock %}
