{% extends "base.html" %}


{% block content %}
    <h2>Items</h2>
    <div class="form-inline" role="form">
        <form action="" method="get">
            {{ item_filter.select_items|bootstrap }}
            {{ item_filter.select_category|bootstrap }}
            {{ item_filter.select_location|bootstrap }}
            {{ item_filter.sort_by|bootstrap }}
            {{ item_filter.search_keyword_or_name|bootstrap }}
            <input type="submit" class="btn btn-default" name="action" value="Filter" />
            <a href="{% url 'itemlist' %}" class="btn btn-default" role="button">Reset</a>
        </form>
    </div>
    <table class="table table-condensed table-striped">
        <thead><tr><th>Select</th>
            <th>ID</th>
            <th>Location</th>
            <th>Category</th>
            <th>Description</th>
            <th>Possible owner</th>
            <th>Possible owner contacted</th>
            <th>Status</th></tr></thead>
        {% for item in items %}
            {% if item.is_valuable %}
                <tr class="danger">
            {% else %}
                <tr>
            {% endif %}
            
            <td><a href="{% url 'checkout' item.pk %}">Return</a></td>
            <td>{{ item.item_id }}</td>
            <td>{{ item.location }}</td>
            <td>{{ item.category }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.possible_owner }}</td>
            <td>{{ item.possible_owner_contacted }}</td>
            <td>{{ item.last_status.action_taken }}</td></tr>
        {% endfor %}
     </table>
{% endblock %}
