{% extends "base.html" %}

{% block content %}
<h3>Item view</h3>

<h3>Description: {{ item.description }}</h3>
<h3>Category: {{ item.category.name }}</h3>
<h3>Found in: {{ item.location.name }}</h3>
<h3>Valuable: {{ item.is_valuable }}</h3>
<h3>Possible owner: {{ item.possible_owner }}</h3>
<h3>Possible owner contacted: {{ item.possible_owner_contacted }}</h3>
<h3>Returned to: {{ item.returned_to }}</h3>
<h3>Active: {{ item.is_active }}</h3>

<h3>Status log</h3>
<table>
    <tr><th>Action</th>
        <th>Timestamp</th>
        <th>Performed by</th>
        <th>Notes</th></tr>
        {% for status in status_list %}
            <th>{{ status.action_taken }}</th>
            <th>{{ status.timestamp }}</th>
            <th>{{ status.performed_by }}</th>
            <th>{{ status.note }}</th></tr>
        {% endfor %}
</table>
<br>
<form action="" method="post">
    {% csrf_token %}
    <input type="submit" name="action" value="Return to item listing"><br><br>
</form>
{% endblock %}