{% extends "base.html" %}

{% block content %}
<h3>Item view</h3>
<table style="width:50%">
    <tr><th><h3>ID #:</h3></th><td><h4>{{ item.item_id }}</h4></td></tr>
    <tr><th><h3>Location:</h3></th><td><h4>{{ item.location }}</h4></td></tr>
    <tr><th><h3>Category:</h3></th><td><h4>{{ item.category }}</h4></td></tr>
    <tr><th><h3>Found on:</h3></th><td><h4>{{ item.found_on }}</h4></td></tr>
    <tr><th><h3>Description:</h3></th><td><h4>{{ item.description }}</h4></td></tr>
    <tr><th><h3>Valuable:</h3></th><td><h4>{{ item.is_valuable }}</h4></td></tr>
    <tr><th><h3>Possible owner:</h3></th><td><h4>{{ item.possible_owner }}</h4></td></tr>
    <tr><th><h3>Possible owner contacted:</h3></th><td><h4>{{ item.possible_owner_contacted }}</h4></td></tr>
    <tr><th><h3>Returned to:</h3></th><td><h4>{{ item.returned_to }}</h4></td></tr>
    <tr><th><h3>Archived:</h3></th><td><h4>{{ item.is_archived }}</h4></td></tr>
</table>

<h3>Status log</h3>
<table class="table table-condensed table-striped">
    <tr><th>Action</th>
        <th>Timestamp</th>
        <th>Performed by</th>
        <th>Notes</th></tr>
        {% for status in status_list %}
            <th>{{ status.action_taken }}</th>
            <th>{{ status.timestamp }}</th>
            <th>{{ status.performed_by }}</th>
            <th>{{ status.note }}</th></tr>
        {% endfor %}
</table>
<br>
<a href="{% url 'admin-itemlist'%}">Return to item listing</a>

{% endblock %}